<table>
      <tr>
        <td><label>11111</label></td>
        <td><input type="text"></input></td>
      </tr>

      <tr>
        <td><label>11111</label></td>
        <td><input type="password"></input></td>
      </tr>

      <tr>
        <td><label>11111</label></td>
        <td><input type="password"></input></td>
      </tr>

      <tr>
        <td><label>11111</label></td>
        <td><input type="password"></input></td>
      </tr>
    </table>
